.warning-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 2px solid #ffcc00;
  border-radius: 10px;
  background-color: #ffffcc;
  margin: 20px;
}

.warning-text {
  margin-top: 10px;
  font-size: 30px;
  text-align: center;
}

.bot-link {
  margin-top: 20px;
  font-size: 20px;
}

.qr-code {
  margin-top: 20px;
}